/*
 *  VPNease layout CSS
 *
 *  (C) Copyright Codebay Oy, 2006-2008.  All Rights Reserved.
 *
 */

/*
See: "Gridding the 960"
http://cameronmoll.com/archives/2006/12/gridding_the_960/
*/

/* ---------------------------------------------------
=layout
------------------------------------------------------ */

.unit {
	float: left;	
	/* = lineheight */
	margin-right: 18px;		
	width: 102px;
}

.span-3 {
	width: 162px;
}

.span-6 {
	width: 342px;
}

.span-12 {
	width: 702px;
}

.content {
	width: 720px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.append-1 {
	/* = unit + lineheight */
	margin-right: 78px;		
}

.full {
	/* span across full page width */
	width: auto;
	float: none;
	margin-right: 0;	
}

.last {
	/* reset margin */
	margin-right: 0;
}

.round {
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}

.box {
	padding: .75em;
	margin-bottom: 1.5em;	
	background: transparent url(bg-box.gif) no-repeat top center;
}
