Source: l2tpgw
Section: net
Priority: optional
Maintainer: VPNease support <support@vpnease.com>
Build-Depends: cdbs, debhelper (>= 5.0.6), python-dev
Standards-Version: 3.6.2

Package: l2tpgw
Architecture: i386
Depends:
Description: L2TP Gateway
