config IP_NF_MATCH_RPC
	tristate  'RPC match support'
	depends on IP_NF_CONNTRACK && IP_NF_IPTABLES
	help
	  This adds CONFIG_IP_NF_MATCH_RPC, which is the RPC connection
	  matcher and tracker.
	
	  This option supplies two connection tracking modules;
	  ip_conntrack_rpc_udp and ip_conntrack_rpc_tcp, which track
	  portmapper requests using UDP and TCP respectively.
	
	  This option also adds an RPC match module for iptables, which
	  matches both via the old "record match" method and a new
	  "procedure match" method. The older method matches all RPC
	  procedure packets that relate to previously recorded packets
	  seen querying a portmapper. The newer method matches only
	  those RPC procedure packets explicitly specified by the user,
	  and that can then be related to previously recorded packets
	  seen querying a portmapper.
	
	  These three modules are required if RPCs are to be filtered
	  accurately; as RPCs are allocated pseudo-randomly to UDP and
	  TCP ports as they register with the portmapper.
	
	  Up to 8 portmapper ports per module, and up to 128 RPC
	  procedures per iptables rule, may be specified by the user,
	  to enable effective RPC management.
	
	
	  If you want to compile it as a module, say M here and read
	  <file:Documentation/modules.txt>.  If unsure, say `N'.
