#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_COMPILE_VERSION      := 2.4
DEB_PYTHON_VERSIONS             := 2.4

DEB_COMPRESS_EXCLUDE := .py
DEB_DESTDIR = $(CURDIR)/debian/python-sqlalchemy

PYVER=$(shell pyversions -vd)

